@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Data" asp-action="Index" method="post">
    <input placeholder="Введите страну" name="country"/><br />
    <input placeholder="Введите город" name="city"/><br />
    <input placeholder="Введите улицу" name="street"/><br />
    <input type="submit"/>

</form>